@use "variables";
/*footer*/
.footer {
  padding: 26px 8px;
  &__container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
  }
  &__logo {
    width: 80px;
    margin: 0 auto 10px;
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 16px;
    &__item {
      display: inline-block;
      a {
        text-decoration: none;
        padding: 8px 16px;
        display: block;

        &:hover {
          color: variables.$corTextoSecundario;
        }
      }
    }
  }
  p {
    margin-bottom: 16px;
  }
}
li, select {
  cursor: pointer;
}
.language-selector {
  display: flex;
  align-items: center;
  img {
    height: 18px;
    width: 18px;
  }
  select {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: variables.$corDeFundo;
    height: 38px;
    option {
      color: variables.$corDeFundo;
    }
  }
}
