@use "variables";
.hero {
  background-image: url("../images/banner1.jpeg"); /* Substitua com o caminho da sua imagem */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Define a altura como 100% da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 768px) {
  .hero {
    height: 50vh; /* Ajuste a altura do hero para metade da tela em dispositivos menores */
  }
}