@use "variables";
.hero {
  background-image: url("../images/banner1.jpeg"); 
  background-size: cover;
  background-position: center;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$white;
}
@media (max-width: 768px) {
  .hero {
    height: 50vh;
  }
}