@use "variables";
.hero {
  background-image: url("../images/banner1.jpeg"); /* Substitua com o caminho da sua imagem */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Define a altura como 100% da tela */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  height: 100vh;
  &__image img {
    max-width: 80%;
    height: auto;
  }
  &__contain {
    max-width: 600px;
    .btn-primary {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
