@use "variables";
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  gap: 30px;
  flex-wrap: wrap;
}

/* Card de perfil */
.profile-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:variables.$white;
  border-radius: 10px;
  box-shadow: 0 4px 8px variables.$shadow;
  width: 280px;
  padding: 20px;
  text-align: center;
}

/* Imagem de perfil (redonda) */
.profile-contain {
//   height: 100vh;
  padding: 40px 0;
  margin-bottom: 40px;
  background-color: variables.$bgPlans;
}
.profile-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Informações de perfil */
.profile-info h2 {
  font-size: 1.8rem;
  color:variables.$accentColor;
  margin-bottom: 10px;
}

.profile-info p {
  font-size: 1rem;
  color: variables.$grayColor;
  line-height: 1.5;
}

.btn {
  color:variables.$white;
  background-color: variables.$bgButtons;
  border: 1px solid  variables.$bgButtons;
  &:hover {
    color: variables.$white;
    background-color: variables.$hover;
  }
}
@media (max-width: 768px) {
    .profile-contain{
        height: 100%;
    }
}