.story {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 20px;
  // height: 100vh;
  &__image img {
    max-width: 80%;
    height: auto;
  }
  &__contain {
    max-width: 600px;
  }
}
