// fonts
$font: "Roboto", serif;

// colors
$accentColor: #333;
$shadow:  rgba(0, 0, 0, 0.2);
$white: #fff;
$grayColor: #666;

// Bg body
$bgBody: #dddddd;

// Buttons colors
$bgPlans: #fbfbfb;
$bgButtons: #2a004e;
$hover: #4f0b8a;


// footer colors
$BgFooter: #040714;
$footerColor: silver;